<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%=  homeStartingContentPage %></p>
 <% let jsonArray =  JSON.stringify(globalArrayPosts ) %>

 <% console.log("from homepage " + globalArrayPosts); %>

<%- include('partials/footer'); -%>
